---
layout: default
---

<div class="container">
  <div class="card">
    {% for post in paginator.posts %}
      <article class="list-group-element">
        <h1 class="list-group-element-heading">
          <a href="{{ post.url | prepend:site.github.url }}">{{ post.title | escape }}</a>
        </h1>
        <footer class="list-group-element-footer">
          {{ post.date | date: "%Y年%m月%d日" }}
        </footer>
        <p>
          {{ post.description }}
        </p>
        <div class="list-group-element-images">
          {% for actor_id in post.actor_ids %}
            {% assign actor = site.actors[actor_id] %}
            <amp-img alt="{{ actor.name }}"
              src="{{ actor.image_url | prepend:site.github.url }}"
              width="40"
              height="40"
              layout="fixed">
            </amp-img>
          {% endfor %}
        </div>
      </article>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">前のページへ</a>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">次のページへ</a>
      {% endif %}
    </div>
  </div>
</div>
